.text-title{
    color: $red;
}

.subtitle-page{
    color: $red;
    font-size: 1.438rem;
    font-style: normal;
    font-weight: 700;
}

.divider{
    width: 100%;
    border: 1px solid $red;
}

.divider-secondary{
    width: 100%;
    border: 1px solid rgba(54, 54, 54, 0.18);;
}

.nomal-subtitle{
    font-size: 1.125rem;
}

.letter-subtitle{
    font-size: 1.125rem;
    font-weight: 600;
}

.letter-subtitle-var{
    font-size: 0.900rem;
}

.letter-medium{
    font-size: 0.813rem;
}

.text-small{
    font-size: 0.875rem;
    font-weight: 400;
}

.small-text-var{
    font-size: 0.688rem;
    font-weight: 400;
}



.border-text{
    color: $red;
    font-size: 0.813rem;
    border-bottom: 1px dashed $red;
}

.documents-items{
    div{
        span{
            font-size: 11px;
            color: #555;
        }

    }
}

.step-form{
    display: flex;
    .active{
        margin-left: 3px;
        width: 68.98px;
        height: 12px;
        border-radius: 46px;
        background-color: $red;
        transition: all 300ms;
    }

    .next{
        margin-left: 3px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #9E9E9E;
    }
}


#card-success-1{
    display: none;
}

.f20{
    font-size: 20px;
}

.f23{
    font-size: 23px;
}

.f13{
    font-size: 13px;
}

.f15{
    font-size: 15px;
}

.f14{
    font-size: 14px;
}

.f18{
    font-size: 18px;
}

.letter-password{
    margin-left: 2px;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
}

@mixin line($width) {
    width: $width;
    background-color: $red;
    height: 0.5px;
  }

.line1{
    @include line(70%);
}

.line2{
    @include line(80%);
    //#D81E04
    //#D81E04
}

.line3{
    @include line(75%);
}

.line4{
    @include line(85%);
}
.dropdown{
    #dropdownMenuButton{
        text-decoration: none;
        font-weight: bold;
    }

    .dropdown-menu{
        .dropdown-item{
            a{
                text-decoration: none;
                color: #363636;
                font-size: 13px;
            }
        }

        .dropdown-item:active{
            background-color: white;
        }
        
    }
}

.option-active{
    border: 1px solid $red;
}

.code-section{
    width: 100%;
    background-color: #F7F1D1;
}
.text-green{
    color: $green;
}

.separator{
    border-left: 1px solid $gray;
}