
.form-group .form-floating label{
    padding-left: 0;
}

.form-floating input , .form-floating select {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 0.063rem solid $dark-gray;
    border-radius: 0;
    padding-left: 0 !important;
}



.form-floating input[type="text"]:focus,
.form-floating input[type="number"]:focus,
.form-floating input[type="date"]:focus,
.form-floating input[type="email"]:focus,
.form-floating input[type="password"]:focus,
.form-floating select:focus
{
    box-shadow: none;
    outline: none ;
    border-bottom: 0.063rem solid $dark-gray;
}

.form-group{
    textarea{
        border: 1px solid $red;
    }

    textarea:disabled{
        border: 1px solid $dark-gray;
    }
}

.input-autocomple{
    position: relative;
    
    .text-autocomple{
        background-color: $light-grey;
        width: 50%;
        position: absolute;
        top: 50%;
    }
    
}

.form-floating input[type="password"]{
    position: relative;
    border-bottom: 1px solid $green;
}

.input-password{
    position: relative;
    div{
        position: absolute;
        bottom: 11px;
        right: 0;
        z-index: 1;

        #img-eye-hide{
            display: none;
        }
    }
}


.form-group{
    .lbl-rdo{
        font-size: 13px;
    }
    input[type="radio"]:checked{
        -webkit-appearance: none;
        appearance: none; 
        border: 2px solid #ff58335a; 
        border-radius: 50%; 
        background-color: $red;
        box-shadow: 0 0 5px #ff5733;
    }

    
    
}

.custom-check{
    input[type='checkbox']:checked{
        background-color: $red;
        box-shadow: none
    }

    label{
        font-size: 13px;
    }
}


.input-search{
    width: 17.188rem;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 40px;
    display: flex;
    justify-content: end;
    align-items: center;

    img{
        height: 20px;
    }

    input{
        color: #D9D9D9;
        font-size: 14px;
       border-radius: 40px;
       width: 90%;
       border: none; 
    }

    input:focus{
        border-radius: 40px;
        outline: none;
    }
    
}


