.subtitle_page{
    color: $red;
    font-weight: 700;
    font-size: 25px;
    display: block;
}

.forgot-password-description{
    font-size: 11px;
    

    .password-valid{
        font-weight: 700;
        color: #009D4E;
    }

    .password-invalid{
        font-weight: 700;
        color: $red;
    }
}